body, ul, li {
    padding: 0;
    margin: 0;
}
.box {
    margin: 10px auto;
    width: 600px;
    height: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.box ul {
    list-style: none;
}
.box ul li {
    float: left;
    position: relative;
}
a {
    display: block;
    text-decoration: none;
    color: black;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
}
a:hover {
    background: gray;
}
.drop-down {
    position: absolute;
    top: 100%;
    width: 150px;
    display: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
li:hover .drop-down {
    display: block;
}